# Workshop: R Basics

Welcome to this R workshop! The goal of this notebook is to introduce you to the essentials of data analysis in R, from the very basics to some more advanced data wrangling techniques.


---
Before you start, make sure you are familiar with the [R Syntax Fundamentals](https://github.com/RaHub4AI/MI7032/blob/main/Introduction_to_R_and_Python/R_Syntax_Fundamentals.md).  
These rules cover things like comments, variables, assignment, reserved words, and code readability - and you should keep them in mind while writing your code.

## General Information

In [1]:
# Checking the complete version of the installed R
R.version.string  # Print the R version string

[1] "R version 4.5.1 (2025-06-13)"

In [2]:
# Check the current working directory
getwd()

# Set your working directory (example path)
#setwd("C:/Users/YourName/Documents/EDS_projects")

# Check the files in the directory
dir()

[1] "/content"

[1] "sample_data"

## Operators

---

#### Arithmetic

Used for basic mathematical calculations.  

| Operator | Description             | Example   | Result |
|----------|-------------------------|-----------|--------|
| `+`      | Addition                | `5 + 3`   | 8      |
| `-`      | Subtraction             | `5 - 3`   | 2      |
| `*`      | Multiplication          | `5 * 3`   | 15     |
| `/`      | Division                | `5 / 2`   | 2.5    |
| `^` or `**` | Exponentiation       | `2 ^ 3`   | 8      |
| `%%`     | Modulus                 | `5 %% 2`  | 1      |
| `%/%`    | Integer division        | `5 %/% 2` | 2      |

---

#### Assignment

Used to assign values to objects.  

| Operator | Example   | Explanation |
|----------|-----------|-------------|
| `<-`     | `x <- 5`  | Assign 5 to `x` (recommended in R) |
| `->`     | `5 -> x`  | Same as above, but reversed |
| `=`      | `x = 5`   | Assign 5 to `x` (less common, also used in function arguments) |
| `<<-`     | `x <<- 5`  | Global assigner|
---

#### Comparison

Used to compare values. They return logical values (`TRUE` / `FALSE`).  

| Operator | Description      | Example   | Result |
|----------|------------------|-----------|--------|
| `==`     | Equal to         | `5 == 3`  | FALSE |
| `!=`     | Not equal to     | `5 != 3`  | TRUE  |
| `>`      | Greater than     | `5 > 3`   | TRUE  |
| `<`      | Less than        | `5 < 3`   | FALSE |
| `>=`     | Greater or equal | `5 >= 5`  | TRUE  |
| `<=`     | Less or equal    | `3 <= 5`  | TRUE  |

---

#### Logical

Used to combine logical values.  

| Operator | Description                       | Example | Result |
|----------|-----------------------------------|---|---|
| `&`      | Element-wise `AND` | `((-2:2) >= 0) & ((-2:2) <= 0)` | `FALSE FALSE TRUE FALSE FALSE` |
| `\|`      | Element-wise `OR` | `c(T,T,F,F) \| c(T,F,T,F)` | `TRUE TRUE TRUE FALSE` |
| `&&`     | Logical `AND` | `((-2:2) >= 0) && ((-2:2) <= 0)` | `FALSE` |
| `\|\|`     | Logical `OR` | `c(T,T,F,F) \|\| c(T,F,T,F)` | `TRUE` |
| `!`      | NOT (negation)                    | `2 != 3` | `TRUE` |
---

#### Miscellaneous

Other useful operators in R.  

| Operator | Description                                | Example      | Result |
|----------|--------------------------------------------|--------------|--------|
| `:`      | Sequence operator                          | `1:5`        | `1 2 3 4 5` |
| `%in%`   | Matching operator (is element in set)      | `2 %in% c(1,2,3)` | `TRUE` |
| `%*%`    | Matrix multiplication                      | `matrix(1:4,2) %*% matrix(1:4,2)` | Matrix result |
| `$`      | Access variables in a data frame/list      | `df$col`     | Extract column `col` |
| `[]`     | Indexing / subsetting                      | `x[1:3]`     | First 3 elements |
| `[[]]`   | Extract single element from list/data frame | `list[[1]]` | First element |

## R as a Calculator
The simplest use of R is doing computations directly:

In [5]:
# Let's try the arithmetic operators
3 + 5

[1] 8

In [6]:
25 ** 2

[1] 625

In [7]:
1 / 2

[1] 0.5

In [8]:
1 %% 2

[1] 1

Core mathematical functions and constants are readily available:

In [11]:
2 + sqrt(375769) - 25^2  # exponentiation can be ^ or ** (e.g., 2**3)

[1] -10

In [21]:
sin(pi/6) + acosh(1)

[1] 0.4999999999999999444888

In [13]:
log(exp(1))

[1] 1

In [14]:
sqrt(-1+0i)  # complex numbers

[1] 0+1i

In [15]:
factorial(6) / choose(4, 2)

[1] 120

In **R**, some special values are used to represent results that go beyond ordinary numbers:

- `Inf` (infinity): appears when dividing a nonzero number by zero, e.g. `1/0`.  
- `-Inf` (negative infinity): appears with negative numbers divided by zero, e.g. `-1/0`.  
- `NaN` (“Not a Number”): appears when the result is undefined, e.g. `0/0` or `Inf - Inf`.  

These values come from the [IEEE 754 floating-point standard](https://standards.ieee.org/ieee/754/6210/) and allow computations to continue even when a calculation cannot produce an ordinary number.  

You can test for them using R’s built-in functions:  
- `is.infinite(x)` checks for `Inf` or `-Inf`.  
- `is.nan(x)` checks for `NaN`.

*Read more: https://doi.org/10.1080/09332480.2025.2510168*

In [9]:
1 / 0

[1] Inf

In [10]:
0 / 0

[1] NaN

In [24]:
x = 2
is.infinite(x)

[1] FALSE

In [26]:
is.infinite(x/0)

[1] TRUE

In [31]:
Inf - Inf

[1] NaN

Functions (see more in [Functions](#functions)) are called by **name** followed by parentheses containing **arguments**. You may omit argument names if you provide values in the documented order. These two calls are equivalent:

In [ ]:
log(x = 25, base = 5)
log(25, 5)

[1] 2

[1] 2

## Variables

Creating objects means defining and assigning values to variables. In R, everything is stored as an object, including data, functions, models, and results. Objects are created using the assignment operator (`<-` or `=`). While both operators work, `<-` is recommended because `=` is also used for specifying function arguments.

An object’s name should describe the data it contains, allowing the name itself to serve as a clear reference to the underlying information.

In [35]:
sum1 = 2 + 3
sum2 <- 2 + 3

In [36]:
# Print the result
print(paste("The sum1 of the numbers is:", sum1))  # display the sum
print(paste0("The sum2 of the numbers is:", sum2))

[1] "The sum1 of the numbers is: 5"
[1] "The sum2 of the numbers is:5"

><font color='gold'> Do you notice the difference between `paste()` and `paste0()`?</font>
> - `paste()` adds a space (by default) between the elements.
> - `paste0()` concatenates the elements without any space.

## Getting Help

Many functions have **default values**, so you don't always need to set every argument. Open a function's help page by prefixing it with `?` (in RStudio, this shows in the Help pane):

In [37]:
?log

Help pages typically include:
- **Usage**: function signature with parameters and defaults.
- **Arguments**: meaning of each parameter.
- **Details**: implementation details and caveats.
- **Examples**: runnable examples—often the fastest way to learn a new function.

### <font color='gold'> Task 1 </font>
1. What does the function `rm` do?
2. Try one example from the `rm` help page.

In [ ]:
# YOUR CODE HERE!

## Data Types

In R, data types define the kind of values a variable can hold and how they are processed. Use `class()` or `typeof()` to check an object’s type.

In [38]:
weight <- 80
height <- 180
bmi <- weight / (height / 100)^2
bmi

[1] 24.69135802469135754222

In [39]:
class(bmi)

[1] "numeric"

In [40]:
typeof(bmi)

[1] "double"

#### Common Data Types
- `numeric`: real numbers (includes both, integers and doubles)

In [ ]:
class(weight)
typeof(weight)

[1] "numeric"

[1] "double"

In [ ]:
# Use suffix L to specify integer data
weight2 <- 80L
class(weight2)
typeof(weight2)

[1] "integer"

[1] "integer"

- `complex`: numbers with real and imaginary parts

In [ ]:
complex_variable <- 3 + 2i
class(complex_variable)

[1] "complex"

- `logical`: boolean values `TRUE`/`FALSE` (or `T`/`F`)

In [ ]:
logical_variable1 <- TRUE
logical_variable2 <- F

class(logical_variable1)
class(logical_variable2)

[1] "logical"

[1] "logical"

- `character`: strings (surrounded by quotes, either `"double quotes"` or `'single quotes'` are fine)

In [2]:
string1 <- 'I’m going to become an Environmental Data Scientist!'

class(string1)

[1] "character"

You can convert types using `as.<type>`:

In [ ]:
'5' + 5

ERROR: Error in "5" + 5: non-numeric argument to binary operator

In [ ]:
as.numeric('5') + 5

[1] 10

### <font color='gold'> Task 2 </font>
- Can you add logical values?
- What is the numeric value of `TRUE`?

In [ ]:
# YOUR CODE HERE!

## Functions

Functions are a way to group code that performs a specific task, so you can call it whenever needed.  
They can take in data (arguments), perform operations, and return a result. Functions make code easier to read, reduce repetition, and allow you to organize your work more clearly.

---

#### General syntax

```r
function_name <- function(arguments) {
  # operations
  return(value)
}
```

- `function_name` is how you will call the function later.
- `arguments` are the inputs the function accepts. They can have default values.
- `return()` sends a value back from the function (if omitted, the last expression is returned automatically).

**Example: Body Mass Index (BMI)**

In [5]:
bmi <- function(weight, height = 180) {
  res <- weight / (height / 100) ^ 2
  return(res)
}

# Using the function
bmi(85)       # height defaults to 180 cm
bmi(85, 195)  # override default height

[1] 26.23457

[1] 22.35371

> - Parameters are the variable names you specify in the function definition (e.g., `weight`, `height`). Arguments are the actual values you pass when you call the function (e.g., `85`, `195`).
>
>R supports:
> - Positional arguments: `bmi(85, 180)`
> - Named arguments: `bmi(weight = 85, height = 180)` (clearer, order-independent)
> - Default arguments: `height = 180` allows you to omit `height`
>
> The `return()` function specifies what value is given back.
If you omit it, R returns the last evaluated expression by default

In [6]:
square_of <- function(number) {
  return(number ^ 2)
}

# Without explicit return()
square_of2 <- function(number) {
  number ^ 2   # last expression is returned automatically
}

In [7]:
square_of(3)

[1] 9

In [8]:
square_of2(3)

[1] 9

> Some functions don’t return values but are useful because of their side effects, such as printing.

In [9]:
print_greeting <- function(name) {
  print(paste("Hello,", name, "!"))
}

print_greeting("ACES")

[1] "Hello, ACES !"

It’s good practice to add comments inside your function that explain what it does, what inputs it expects, and what it returns.
Unlike Python, R does not have a special “docstring” syntax, but comments with `#` serve the same purpose.

In [10]:
# Convert Celsius to Kelvin (K = C + 273.15)
celsius_to_kelvin <- function(c) {
  return(c + 273.15)
}

There are several types of functions in R:

- **Built-in functions**: These come with base R and are always available.  
  Examples: `sum()`, `mean()`, `sqrt()`, `log()`  
- **Imported functions**: These are provided by external packages. To use them, you first need to install and load the package with `library()`.  
  Examples: `stats::rnorm()` for random numbers, `ggplot2::ggplot()` for plotting  
  (We haven’t used these yet - you’ll learn more about them in the next chapter on [Packages](#packages).)

- **User-defined functions**: These are the functions you write yourself to extend R with custom behavior.  
  Example: the `bmi()` function we defined above

## Packages

Many extra functions come in packages; load them with `library()`. For example, `as_date()` is in the `lubridate` package:

In [ ]:
# This will error if lubridate is not yet installed:
# as_date('2025-10-02')

library(lubridate)
as_date('2025-10-02')

[1] "2025-10-02"

In [ ]:
class(as_date('2025-10-02'))

[1] "Date"

Packages from CRAN [(available packages)](https://cran.r-project.org/web/packages/available_packages_by_date.html) can be installed with `install.packages()`.

>Sometimes you’ll see a function written with the syntax `package::function()`.
>This means: “use this function from that package directly.”
> This is useful because:
> - It lets you call a function without loading the whole package with `library()`.
> - It avoids conflicts when two packages provide functions with the same name.
For example, both `dplyr` and `stats` have a function named `filter()`.
Using `dplyr::filter()` or `stats::filter()` makes it clear which one you want.

### <font color='gold'> Task 3 </font>
Install the package `tidyverse` and load it.

In [ ]:
# YOUR CODE HERE!

## Vectors

The central object type in R is the vector (similar to a 1D NumPy array), which is, in other words, a one-dimensional sequence of variables of the same type. There are several ways to create vectors.

In [ ]:
1:10                       # sequences
9:2                        # reverse sequence
c(1, 4, 2, 6)              # arbitrary elements
c(1:10, 4, c(2, 4))        # arguments can be either vectors or individual values
c("A", "B", "C")           # character vector
seq(0, 1, length.out = 10) # sequences with an arbitrary start and end point and equal intervals
rep(1:2, times = 5)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 9 8 7 6 5 4 3 2

[1] 1 4 2 6

 [1]  1  2  3  4  5  6  7  8  9 10  4  2  4

[1] "A" "B" "C"

 [1] 0.0000000 0.1111111 0.2222222 0.3333333 0.4444444 0.5555556 0.6666667
 [8] 0.7777778 0.8888889 1.0000000

 [1] 1 2 1 2 1 2 1 2 1 2

Extracting data from a vector is done using square brackets (`[]`).

<font color='gold'>It’s important to remember that in **R indexing starts at `1`**.</font>

In [13]:
x <- 10:1   # 10 down to 1

print(x[1])     # first element (10)
print(x[1:5])   # first 5 elements

print(x[-1])    # all elements EXCEPT the first one

# To get the last element, use length(x)
print(x[length(x)])   # last element (1)

[1] 10
[1] 10  9  8  7  6
[1] 9 8 7 6 5 4 3 2 1
[1] 1

In fact, even single-value objects are treated as vectors in R. Therefore, it makes little difference whether an operation involves a vector or just individual values. For vectors, operations are carried out element by element. If the input vectors have different lengths, the shorter one is repeated until it matches the length of the longer one. The same logic applies to both arithmetic operations and many functions.

In [ ]:
1:10 + 5
1:10 + 10:1
log(c(1, 10, 100, 1000), base = 10)
bmi(c(85, 90, 95, 100, 105), 194)

 [1]  6  7  8  9 10 11 12 13 14 15

 [1] 11 11 11 11 11 11 11 11 11 11

[1] 0 1 2 3

[1] 22.58476 23.91327 25.24179 26.57031 27.89882

Many functions take vectors and return a single number:

In [ ]:
min(1:10)
max(1:10)
mean(1:10)

[1] 1

[1] 10

[1] 5.5

### <font color='gold'> Task 4</font>
Define a function that **rescales** a numeric vector to the range [0, 1] so that the minimum becomes 0 and the maximum becomes 1.

> *Hint:* for vector $x$ and element $x_i$, use:
$$ \frac{x_i - \text{min}(x)}{\text{max}(x) - \text{min}(x)} $$

Test your function on vectors `0:10` and `-5:5`. Are the results similar or different?

In [ ]:
# YOUR CODE HERE!

## Data Tables

In practical data analysis, data are often given in tables where the columns contain variables of different types. Such a table is also central in R, where historically the `data.frame` object has been used, and more recently the `tibble`, an enhanced version of `data.frame` from the `tidyverse` package. You can think of such a table as a collection of feature vectors, where all feature vectors must have the same length.

In [ ]:
library(tidyverse)

stations <- tibble(
  ID = c('101', '102', '103', '104'),
  name = c('Umeå', 'Vindeln', 'Siljansfors', 'Asa'),
  longitude = c(20.19, 19.46, 14.24, 14.47),
  latitude = c(63.49, 64.14, 60.53, 57.10),
  altitude = c(33, 225, 320, 180)
)

stations

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

  ID  name        longitude latitude altitude
1 101 Umeå        20.19     63.49     33
2 102 Vindeln     19.46     64.14    225
3 103 Siljansfors 14.24     60.53    320
4 104 Asa         14.47     57.10    180

In [ ]:
class(stations)

[1] "tbl_df"     "tbl"        "data.frame"

To add new data to your data frames (or to combine two data frames), you can use the functions `cbind()` and `rbind()`.
- `cbind()` (column bind): adds columns side by side.
    - The number of rows must match.
    - Row names are ignored.

- `rbind()` (row bind): stacks rows on top of each other.
    - Both the number and the names of columns must match.

> If data frames don’t have identical columns, use:
>- `plyr::rbind.fill()` (from the `plyr` package), or
> - `dplyr::bind_rows()` (from the `dplyr`/`tidyverse` package), which automatically fills missing columns with `NA`.

In [ ]:
# Add a new column with cbind()
regions <- c('Norrland', 'Norrland', 'Svealand', 'Götaland')
stations <- cbind(stations, region = regions)
stations

  ID  name        longitude latitude altitude region
1 101 Umeå        20.19     63.49     33      Norrland
2 102 Vindeln     19.46     64.14    225      Norrland
3 103 Siljansfors 14.24     60.53    320      Svealand
4 104 Asa         14.47     57.10    180      Götaland

In [ ]:
# Add a new row with rbind()
new_station <- tibble(
  ID = '105',
  name = 'Tönnersjöheden',
  longitude = 13.07,
  latitude = 56.42,
  altitude = 80,
  region = 'Götaland'
)
stations <- rbind(stations, new_station)
stations

  ID  name           longitude latitude altitude region
1 101 Umeå           20.19     63.49     33      Norrland
2 102 Vindeln        19.46     64.14    225      Norrland
3 103 Siljansfors    14.24     60.53    320      Svealand
4 104 Asa            14.47     57.10    180      Götaland
5 105 Tönnersjöheden 13.07     56.42     80      Götaland

In [ ]:
# Missing values
extra_station <- tibble(
  ID = '106',
  name = 'Kulbäcksliden',
  longitude = 19.49,
  latitude = 64.52,
  region = 'Norrland'
)

extra_station

  ID  name          longitude latitude region
1 106 Kulbäcksliden 19.49     64.52    Norrland

In [ ]:
# Use bind_rows() function
stations <- bind_rows(stations, extra_station)
stations

  ID  name           longitude latitude altitude region
1 101 Umeå           20.19     63.49     33      Norrland
2 102 Vindeln        19.46     64.14    225      Norrland
3 103 Siljansfors    14.24     60.53    320      Svealand
4 104 Asa            14.47     57.10    180      Götaland
5 105 Tönnersjöheden 13.07     56.42     80      Götaland
6 106 Kulbäcksliden  19.49     64.52     NA      Norrland

We often need to subset (extract rows and columns) our data frames. We can access elements in a data frame using square brackets `[]` or the dollar `$` operator.

In [ ]:
# Access the "region" column with $
stations$region

[1] "Norrland" "Norrland" "Svealand" "Götaland" "Götaland" "Norrland"

In [ ]:
# Access the cell in the 3rd row and 2nd column
stations[3, 2]

[1] "Siljansfors"

In [ ]:
stations[-3, 2]

[1] "Umeå"           "Vindeln"        "Asa"            "Tönnersjöheden"
[5] "Kulbäcksliden"

In [ ]:
# Filter rows where altitude is exactly (`==`) 80
stations[stations$altitude == 80, ]

   ID  name           longitude latitude altitude region
5  105 Tönnersjöheden 13.07     56.42    80       Götaland
NA NA  NA                NA        NA    NA       NA

In [ ]:
stations[complete.cases(stations), ]

  ID  name           longitude latitude altitude region
1 101 Umeå           20.19     63.49     33      Norrland
2 102 Vindeln        19.46     64.14    225      Norrland
3 103 Siljansfors    14.24     60.53    320      Svealand
4 104 Asa            14.47     57.10    180      Götaland
5 105 Tönnersjöheden 13.07     56.42     80      Götaland

In [ ]:
na.omit(stations[stations$altitude == 80, ])

  ID  name           longitude latitude altitude region
5 105 Tönnersjöheden 13.07     56.42    80       Götaland

In [ ]:
# Filter rows where altitude is NOT equal to 80
stations[stations$altitude != 80, ]

   ID  name        longitude latitude altitude region
1  101 Umeå        20.19     63.49     33      Norrland
2  102 Vindeln     19.46     64.14    225      Norrland
3  103 Siljansfors 14.24     60.53    320      Svealand
4  104 Asa         14.47     57.10    180      Götaland
NA NA  NA             NA        NA     NA      NA

In [ ]:
# Filter rows where altitude is between 100 and 200
stations[stations$altitude > 100 & stations$altitude < 200, ]

   ID  name longitude latitude altitude region
4  104 Asa  14.47     57.1     180      Götaland
NA NA  NA      NA       NA      NA      NA

In [ ]:
# Filter rows where altitude is either > 200 or < 100
stations[stations$altitude > 200 | stations$altitude < 100, ]

   ID  name           longitude latitude altitude region
1  101 Umeå           20.19     63.49     33      Norrland
2  102 Vindeln        19.46     64.14    225      Norrland
3  103 Siljansfors    14.24     60.53    320      Svealand
5  105 Tönnersjöheden 13.07     56.42     80      Götaland
NA NA  NA                NA        NA     NA      NA

### Factors
Factors are a special type of vector for categorical variables with levels.
We can convert the `region` column to a factor using `factor()`.

In [ ]:
# Convert 'region' column to a factor
region_factor <- factor(stations$region)

# Display the attributes
attributes(region_factor)

$levels
[1] "Götaland" "Norrland" "Svealand"

$class
[1] "factor"

### <font color='gold'>Task 5</font>  

Create a data frame named `earthquake_classes` with three columns:
- `class`
- `magnitude`
- `description`  
Use the information from this image provided by the Alaska Earthquake Center:  
![earthquake.png](https://earthquake.alaska.edu/sites/default/files/inline-images/magnitude%20classes_0.png)  

Finally, convert the `class` column into a factor variable.

In [ ]:
# YOUR CODE HERE!

## Reading and Writing Data Files

Hopefully, Task 5 gave you an idea that **entering data manually can be tedious and error-prone**.  
Fortunately, in most real workflows we can **read data directly from files** instead of typing everything by hand.  

Depending on the field, data can come in very different formats.  
For example:  
- **Text-based tables** (e.g., medical records stored as `.txt` files) that can be read with simple text import functions.  
- **Highly specialized formats**, such as weather radar data stored in the `ODIM HDF5` standard, which require special packages to read and interpret.

In this course, however, we will mainly deal with **tabular data**, most often stored in:  
- **CSV** (`.csv`) → comma-separated (`,`) values  
- **TSV** (`.tsv`) → tab-separated (`\t`) values  
- **Excel** (`.xlsx`, `.xls`) → spreadsheet files  

I strongly recommend using **TSV** files whenever possible. Although CSV files are popular, they can be problematic because commas often appear inside data values (e.g., in addresses or descriptions).  **bold text**
This makes parsing difficult and error-prone.  
**TSV files** are usually safer: tabs rarely appear inside the data, making these files easier to parse reliably.  
That’s why I prefer - <font color='#2fa1ff'>and strongly recommend</font> - using TSV files whenever possible.

There are **several ways** to import data into R.  
The most flexible function is `read_delim()` (from the `readr` package, part of the `tidyverse`), where you specify the delimiter yourself.  

On top of that, there are convenient shortcut functions like `read_csv()` and `read_tsv()` (also from `readr`) for the most common file types.

To try this out, download the file `berry_data.csv` from the following source:  
Langvall, O. (2021). *Swedish Forest Phenology dataset (Version 1)* [Data set]. Swedish University of Agricultural Sciences. https://doi.org/10.5878/jbab-cy46  
> Dataset page: https://researchdata.se/en/catalogue/dataset/2021-194-1/1  

Once you have the file, place it in your working directory (or upload it if you are using Google Colab).  

Now let’s read it into R using both `read_delim()` and `read_csv()`.

In [16]:
# Check files in the working directory
dir()

[1] "berry_data.csv" "sample_data"

In [ ]:
# Read with explicit delimiter
#read_delim('berry_data.csv', delim = ',')

# Read with shortcut
#read_csv('berry_data.csv')

Rows: 1889 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (7): Station, Species, Year, doy, Flowers, Unripe, Ripe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     Station Species Year doy Flowers Unripe Ripe
1    103     2440100 2006 135   0.0     NA     NA
2    103     2440100 2006 142  50.3     NA     NA
3    103     2440100 2006 144  83.4     NA     NA
4    103     2440100 2006 149 111.7     NA     NA
5    103     2440100 2006 153 110.5    0.0     NA
6    103     2440100 2006 156  81.5    0.0     NA
7    103     2440100 2006 160  39.6   39.7     NA
8    103     2440100 2006 163   8.8   76.3     NA
9    103     2440100 2006 166   1.0   95.0     NA
10   103     2440100 2006 170   0.4   70.0     NA
11   103     2440100 2006 173   0.0   75.9     NA
12   103     2440100 2006 177   0.0   80.7     NA
13   103     2440100 2006 185    NA   78.3    0.0
14   103     2440100 2006 187    NA   71.4    0.0
15   103     2440100 2006 208    NA   11.0   51.4
16   103     2440100 2006 219    NA    1.6   60.9
17   103     2440100 2006 233    NA    0.6   57.6
18   103     2440100 2006 280    NA    0.0    0.0
19   103     2440100 2007 128   0.0     NA     NA
20   103     2440100 2007 131  22.3     NA     NA
21   103     2440100 2007 135  47.1     NA     NA
22   103     2440100 2007 138  57.8    0.0     NA
23   103     2440100 2007 141  69.7    0.0     NA
24   103     2440100 2007 145  50.4   34.3     NA
25   103     2440100 2007 148  32.0   56.2     NA
26   103     2440100 2007 152  11.0   74.6     NA
27   103     2440100 2007 155   7.1   72.1     NA
28   103     2440100 2007 159   1.0   64.8     NA
29   103     2440100 2007 163   0.1   52.6     NA
30   103     2440100 2007 166   0.0   50.3     NA
⋮    ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
1860 103     2440200 2019 227   NA    0.8    0.0
1861 103     2440200 2019 235   NA    1.2    0.1
1862 103     2440200 2019 242   NA    0.4    0.9
1863 103     2440200 2019 247   NA    0.2    1.1
1864 103     2440200 2019 262   NA    0.0    0.9
1865 103     2440200 2019 284   NA     NA    0.8
1866 103     2440200 2019 296   NA     NA    0.3
1867 103     2440200 2019 303   NA     NA    0.0
1868 103     2440200 2020 155  0.0     NA     NA
1869 103     2440200 2020 164 14.0     NA     NA
1870 103     2440200 2020 170 20.2    0.0     NA
1871 103     2440200 2020 178  7.0    6.6     NA
1872 103     2440200 2020 183  1.2    8.8     NA
1873 103     2440200 2020 189  0.1    7.7     NA
1874 103     2440200 2020 197  0.0    6.7     NA
1875 103     2440200 2020 206   NA    5.5     NA
1876 103     2440200 2020 212   NA    4.9     NA
1877 103     2440200 2020 218   NA    5.4    0.0
1878 103     2440200 2020 226   NA    6.3    0.2
1879 103     2440200 2020 232   NA    5.8    0.9
1880 103     2440200 2020 240   NA    3.4    3.1
1881 103     2440200 2020 248   NA    0.8    5.5
1882 103     2440200 2020 254   NA    0.0    6.6
1883 103     2440200 2020 262   NA     NA    6.6
1884 103     2440200 2020 267   NA     NA    6.1
1885 103     2440200 2020 276   NA     NA    4.1
1886 103     2440200 2020 283   NA     NA    2.9
1887 103     2440200 2020 289   NA     NA    2.4
1888 103     2440200 2020 300   NA     NA    0.9
1889 103     2440200 2020 307   NA     NA    0.0

### <font color='gold'> Task 6 </font>  

1. Read the file `berry_data.csv` into an object called `berry_data`.  
2. Explore the dataset:  
   - How many **rows** and **columns** does it contain?  
   - What are the **features** (**variables**) in the dataset?  

> *Hint:* For the first part, check the dimensions with `dim(berry_data)`,  
> or use `nrow()` and `ncol()` separately.  
> For the second part, check `names(berry_data)` and consult the accompanying `Metadata.pdf` file.

In [14]:
# YOUR CODE HERE!

>Files may have quirks (custom missing value markers, wrong types, etc.). Most can be handled via `read_*` parameters. Check the help pages and examples.

In [ ]:
glimpse(berry_data)

Rows: 1,889
Columns: 7
$ Station <dbl> 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 10…
$ Species <dbl> 2440100, 2440100, 2440100, 2440100, 2440100, 2440100, 2440100,…
$ Year    <dbl> 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 20…
$ doy     <dbl> 135, 142, 144, 149, 153, 156, 160, 163, 166, 170, 173, 177, 18…
$ Flowers <dbl> 0.0, 50.3, 83.4, 111.7, 110.5, 81.5, 39.6, 8.8, 1.0, 0.4, 0.0,…
$ Unripe  <dbl> NA, NA, NA, NA, 0.0, 0.0, 39.7, 76.3, 95.0, 70.0, 75.9, 80.7, …
$ Ripe    <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 0.0, 0.0, 51.4…

After processing data in R, we often want to export it back to a file.
The `readr` package provides matching functions `write_csv()` and `write_tsv()` for writing CSV and TSV files.

In [ ]:
# Save as TSV (tab-separated values)
#write_tsv(berry_data, 'berry_data.tsv')

In [ ]:
# Check files in the working directory
#dir()

[1] "berry_data.csv" "berry_data.tsv" "sample_data"

### Saving and loading R objects (RData)

Saving R tables as text files and later reading them back in can sometimes cause errors. If a file is created in R and will later be processed again in R, it is useful to save it as a binary R object. This way it is very easy to load it again later. This can be done with the commands `save()` and `load()`. The save command can also take multiple objects at once.

In [ ]:
x <- 1
save(x, stations, file = "objects.RData")  # save variable x and the stations data frame into an RData file

In [ ]:
load("objects.RData", verbose = TRUE)  # load all objects saved in "objects.RData" and print their names as they are restored

Loading objects:
  x
  stations

## Data Wrangling and Data Manipulation  

In real projects, data is **rarely provided in the exact format we need for analysis**.  
Before we can clean or transform anything, the **first step is to explore the dataset** and understand what it contains.  

Exploration helps us answer questions like:  
- How many rows and columns are there?  
- What variables (features) are included?  
- What are the data types (numeric, character, factor…)?  
- Are there missing or unusual values?  

Some useful functions for exploring a data frame (`berry_data` as example):

In [ ]:
dim(berry_data) # number of rows and columns

[1] 1889    7

In [ ]:
names(berry_data) # column names

[1] "Station" "Species" "Year"    "doy"     "Flowers" "Unripe"  "Ripe"

In [ ]:
str(berry_data) # structure and types

spc_tbl_ [1,889 × 7] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Station: num [1:1889] 103 103 103 103 103 103 103 103 103 103 ...
 $ Species: num [1:1889] 2440100 2440100 2440100 2440100 2440100 ...
 $ Year   : num [1:1889] 2006 2006 2006 2006 2006 ...
 $ doy    : num [1:1889] 135 142 144 149 153 156 160 163 166 170 ...
 $ Flowers: num [1:1889] 0 50.3 83.4 111.7 110.5 ...
 $ Unripe : num [1:1889] NA NA NA NA 0 0 39.7 76.3 95 70 ...
 $ Ripe   : num [1:1889] NA NA NA NA NA NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   Station = col_double(),
  ..   Species = col_double(),
  ..   Year = col_double(),
  ..   doy = col_double(),
  ..   Flowers = col_double(),
  ..   Unripe = col_double(),
  ..   Ripe = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [ ]:
summary(berry_data) # quick statistics

    Station         Species             Year           doy
 Min.   :102.0   Min.   :2440100   Min.   :2006   Min.   :105.0
 1st Qu.:102.0   1st Qu.:2440100   1st Qu.:2009   1st Qu.:160.0
 Median :103.0   Median :2440100   Median :2013   Median :194.0
 Mean   :103.3   Mean   :2440142   Mean   :2013   Mean   :199.9
 3rd Qu.:104.0   3rd Qu.:2440200   3rd Qu.:2017   3rd Qu.:238.0
 Max.   :105.0   Max.   :2440200   Max.   :2020   Max.   :320.0
                                                  NA's   :1
    Flowers           Unripe            Ripe
 Min.   :  0.00   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  0.00   1st Qu.:  0.00   1st Qu.: 0.000
 Median :  0.50   Median :  4.10   Median : 2.000
 Mean   : 10.96   Mean   : 15.29   Mean   : 7.075
 3rd Qu.: 10.50   3rd Qu.: 22.20   3rd Qu.:10.175
 Max.   :134.50   Max.   :120.00   Max.   :69.200
 NA's   :985      NA's   :622      NA's   :859

In [ ]:
glimpse(berry_data) # tidyverse-friendly overview

Rows: 1,889
Columns: 7
$ Station <dbl> 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 103, 10…
$ Species <dbl> 2440100, 2440100, 2440100, 2440100, 2440100, 2440100, 2440100,…
$ Year    <dbl> 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 20…
$ doy     <dbl> 135, 142, 144, 149, 153, 156, 160, 163, 166, 170, 173, 177, 18…
$ Flowers <dbl> 0.0, 50.3, 83.4, 111.7, 110.5, 81.5, 39.6, 8.8, 1.0, 0.4, 0.0,…
$ Unripe  <dbl> NA, NA, NA, NA, 0.0, 0.0, 39.7, 76.3, 95.0, 70.0, 75.9, 80.7, …
$ Ripe    <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 0.0, 0.0, 51.4…

In [ ]:
unique(berry_data$Station) # distinct values in a column

[1] 103 102 104 105

In [ ]:
table(berry_data$Station) # frequency counts

102 103 104 105
581 451 494 363

In [ ]:
head(berry_data)  # first rows

  Station Species Year doy Flowers Unripe Ripe
1 103     2440100 2006 135   0.0   NA     NA
2 103     2440100 2006 142  50.3   NA     NA
3 103     2440100 2006 144  83.4   NA     NA
4 103     2440100 2006 149 111.7   NA     NA
5 103     2440100 2006 153 110.5    0     NA
6 103     2440100 2006 156  81.5    0     NA

Once we know what the dataset looks like, the next step is wrangling:
the process of cleaning, structuring, and transforming raw or messy data into a usable format.

Typical wrangling tasks include:
- Handling missing values
- Merging multiple datasets
- Reshaping between wide and long formats
- Converting variables to the right data types

Closely related is data manipulation, which covers operations like:
- Filtering rows
- Sorting observations
- Aggregating values
- Selecting or mutating variables

There are many ways to process data in R. In recent years a very popular approach has been the [`tidyverse`](https://www.tidyverse.org/packages/): a collection of packages that share a common design philosophy and consistent APIs (e.g., `dplyr`, `tidyr`, `readr`, `ggplot2`). You can think of it as a “mini-language” inside R that borrows ideas from `SQL` and `bash`, aiming to make common operations work with clear, uniform principles.

#### The pipe `%>%`
One of the most important tools in the `tidyverse` is the [**pipe** operator `%>%` (from `magrittr`)](https://magrittr.tidyverse.org/reference/pipe.html). It passes the result of one expression as the **first argument** to the next function, letting you write long sequences of operations **left-to-right** in a readable way.

Compare the following approaches:
- without `%>%`
- with `%>%`

In [ ]:
prices <- c("$1423.55", "$556.98", "$4321.99", "$657.01")

# Stepwise (many temporary variables):
prices_trim <- str_replace(prices, "\\$", "") # remove the dollar sign from each string
prices_trim_num <- as.numeric(prices_trim) # convert the cleaned strings into numeric values
prices_trim_num_round <- round(prices_trim_num, digits = 0) # round the numeric values to zero decimal places
prices_round_final <- str_c("$", prices_trim_num_round) # add the dollar sign back to the rounded values
prices_round_final

[1] "$1424" "$557"  "$4322" "$657"

In [ ]:
# One-liner (harder to read):
str_c("$", round(as.numeric(str_replace(prices, "\\$", "")), digits = 0))

[1] "$1424" "$557"  "$4322" "$657"

In [ ]:
# With the pipe (left-to-right):
prices %>%
  str_replace("\\$", "") %>% # remove the dollar sign
  as.numeric() %>% # convert strings to numeric
  round() %>% # round values to 0 decimals
  str_c("$", .) # add the dollar sign back

[1] "$1424" "$557"  "$4322" "$657"

> *Hint:* Note that if the output of the previous function is used in the first argument of the next function call, you can omit it. If the output should go into another argument position, you can use the placeholder `.` (see the last line above).

### Tidyverse Functions  

The tidyverse is built on a set of functions where **each function takes in a data frame and returns a modified data frame**.  
Each function performs only one operation, but when combined with the `%>%`, very complex tasks can be expressed clearly and concisely.  

The most important tidyverse functions for data manipulation are:  
- `select`: choose columns from a data frame  
- `filter`: filter rows based on conditions  
- `mutate`: create new columns or modify existing ones  
- `group_by` + `summarize`: summarize values within groups defined by one or more variables  
- `arrange`: sort the data frame by one or more variables  

In the following sections, we will look at each function with simple examples, using the dataset `berry_data` that we loaded earlier.

#### `select()`
The `select()` function allows you to choose columns from a data frame and also rename them in the process. Column names can be provided without quotation marks.

In [ ]:
berry_data %>% select(doy, Ripe) # keep only the columns 'doy' (day of year) and 'Ripe' from the dataset

     doy Ripe
1    135   NA
2    142   NA
3    144   NA
4    149   NA
5    153   NA
6    156   NA
7    160   NA
8    163   NA
9    166   NA
10   170   NA
11   173   NA
12   177   NA
13   185  0.0
14   187  0.0
15   208 51.4
16   219 60.9
17   233 57.6
18   280  0.0
19   128   NA
20   131   NA
21   135   NA
22   138   NA
23   141   NA
24   145   NA
25   148   NA
26   152   NA
27   155   NA
28   159   NA
29   163   NA
30   166   NA
⋮    ⋮   ⋮
1860 227 0.0
1861 235 0.1
1862 242 0.9
1863 247 1.1
1864 262 0.9
1865 284 0.8
1866 296 0.3
1867 303 0.0
1868 155  NA
1869 164  NA
1870 170  NA
1871 178  NA
1872 183  NA
1873 189  NA
1874 197  NA
1875 206  NA
1876 212  NA
1877 218 0.0
1878 226 0.2
1879 232 0.9
1880 240 3.1
1881 248 5.5
1882 254 6.6
1883 262 6.6
1884 267 6.1
1885 276 4.1
1886 283 2.9
1887 289 2.4
1888 300 0.9
1889 307 0.0

In [ ]:
berry_data %>% select(-doy, -Ripe)  # select all columns except 'doy' and 'Ripe'

     Station Species Year Flowers Unripe
1    103     2440100 2006   0.0     NA
2    103     2440100 2006  50.3     NA
3    103     2440100 2006  83.4     NA
4    103     2440100 2006 111.7     NA
5    103     2440100 2006 110.5    0.0
6    103     2440100 2006  81.5    0.0
7    103     2440100 2006  39.6   39.7
8    103     2440100 2006   8.8   76.3
9    103     2440100 2006   1.0   95.0
10   103     2440100 2006   0.4   70.0
11   103     2440100 2006   0.0   75.9
12   103     2440100 2006   0.0   80.7
13   103     2440100 2006    NA   78.3
14   103     2440100 2006    NA   71.4
15   103     2440100 2006    NA   11.0
16   103     2440100 2006    NA    1.6
17   103     2440100 2006    NA    0.6
18   103     2440100 2006    NA    0.0
19   103     2440100 2007   0.0     NA
20   103     2440100 2007  22.3     NA
21   103     2440100 2007  47.1     NA
22   103     2440100 2007  57.8    0.0
23   103     2440100 2007  69.7    0.0
24   103     2440100 2007  50.4   34.3
25   103     2440100 2007  32.0   56.2
26   103     2440100 2007  11.0   74.6
27   103     2440100 2007   7.1   72.1
28   103     2440100 2007   1.0   64.8
29   103     2440100 2007   0.1   52.6
30   103     2440100 2007   0.0   50.3
⋮    ⋮       ⋮       ⋮    ⋮       ⋮
1860 103     2440200 2019   NA    0.8
1861 103     2440200 2019   NA    1.2
1862 103     2440200 2019   NA    0.4
1863 103     2440200 2019   NA    0.2
1864 103     2440200 2019   NA    0.0
1865 103     2440200 2019   NA     NA
1866 103     2440200 2019   NA     NA
1867 103     2440200 2019   NA     NA
1868 103     2440200 2020  0.0     NA
1869 103     2440200 2020 14.0     NA
1870 103     2440200 2020 20.2    0.0
1871 103     2440200 2020  7.0    6.6
1872 103     2440200 2020  1.2    8.8
1873 103     2440200 2020  0.1    7.7
1874 103     2440200 2020  0.0    6.7
1875 103     2440200 2020   NA    5.5
1876 103     2440200 2020   NA    4.9
1877 103     2440200 2020   NA    5.4
1878 103     2440200 2020   NA    6.3
1879 103     2440200 2020   NA    5.8
1880 103     2440200 2020   NA    3.4
1881 103     2440200 2020   NA    0.8
1882 103     2440200 2020   NA    0.0
1883 103     2440200 2020   NA     NA
1884 103     2440200 2020   NA     NA
1885 103     2440200 2020   NA     NA
1886 103     2440200 2020   NA     NA
1887 103     2440200 2020   NA     NA
1888 103     2440200 2020   NA     NA
1889 103     2440200 2020   NA     NA

In [ ]:
berry_data %>% select(day_of_year = doy) # select the column 'doy' and rename it to 'day_of_year'

     day_of_year
1    135
2    142
3    144
4    149
5    153
6    156
7    160
8    163
9    166
10   170
11   173
12   177
13   185
14   187
15   208
16   219
17   233
18   280
19   128
20   131
21   135
22   138
23   141
24   145
25   148
26   152
27   155
28   159
29   163
30   166
⋮    ⋮
1860 227
1861 235
1862 242
1863 247
1864 262
1865 284
1866 296
1867 303
1868 155
1869 164
1870 170
1871 178
1872 183
1873 189
1874 197
1875 206
1876 212
1877 218
1878 226
1879 232
1880 240
1881 248
1882 254
1883 262
1884 267
1885 276
1886 283
1887 289
1888 300
1889 307

#### `filter()`
The `filter()` function allows you to filter rows by setting logical conditions on columns. The column names in the input data frame are recognized automatically by `filter()`.

In [ ]:
berry_data %>% filter(Year > 2019) # keep only the rows where the value in 'Year' is greater than 2019

    Station Species Year doy Flowers Unripe Ripe
1   103     2440100 2020 141   0.0      NA    NA
2   103     2440100 2020 148  15.0     0.0    NA
3   103     2440100 2020 155  39.2     0.0    NA
4   103     2440100 2020 164   3.7    26.7    NA
5   103     2440100 2020 170   0.1    21.6    NA
6   103     2440100 2020 178   0.0    22.9    NA
7   103     2440100 2020 183   0.0    24.1   0.0
8   103     2440100 2020 189    NA    26.2   0.0
9   103     2440100 2020 197    NA    22.7   2.0
10  103     2440100 2020 206    NA     5.3  18.3
11  103     2440100 2020 212    NA     2.4  20.6
12  103     2440100 2020 218    NA     1.7  19.8
13  103     2440100 2020 226    NA     0.0  18.1
14  103     2440100 2020 232    NA     0.0  16.2
15  103     2440100 2020 240    NA      NA  14.5
16  103     2440100 2020 248    NA      NA  13.1
17  103     2440100 2020 254    NA      NA  11.2
18  103     2440100 2020 262    NA      NA  10.8
19  103     2440100 2020 267    NA      NA  10.3
20  103     2440100 2020 276    NA      NA   6.9
21  103     2440100 2020 283    NA      NA   3.9
22  103     2440100 2020 289    NA      NA   1.3
23  103     2440100 2020 300    NA      NA   0.5
24  103     2440100 2020 307    NA      NA   0.0
25  102     2440100 2020 147   0.0      NA    NA
26  102     2440100 2020 154   9.0      NA    NA
27  102     2440100 2020 161 126.7     0.0    NA
28  102     2440100 2020 168   5.3   117.3    NA
29  102     2440100 2020 175   0.0   104.2    NA
30  102     2440100 2020 181    NA    72.2    NA
⋮   ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
112 105     2440200 2020 163 13.7      NA       NA
113 105     2440200 2020 170 34.3      NA       NA
114 105     2440200 2020 184 19.7    27.2   0.0000
115 105     2440200 2020 191  5.3    49.5   0.0000
116 105     2440200 2020 206  0.5    46.0   0.0000
117 105     2440200 2020 213  0.0      NA       NA
118 105     2440200 2020 243   NA     0.0       NA
119 105     2440200 2020 273   NA      NA   0.0001
120 103     2440200 2020 155  0.0      NA       NA
121 103     2440200 2020 164 14.0      NA       NA
122 103     2440200 2020 170 20.2     0.0       NA
123 103     2440200 2020 178  7.0     6.6       NA
124 103     2440200 2020 183  1.2     8.8       NA
125 103     2440200 2020 189  0.1     7.7       NA
126 103     2440200 2020 197  0.0     6.7       NA
127 103     2440200 2020 206   NA     5.5       NA
128 103     2440200 2020 212   NA     4.9       NA
129 103     2440200 2020 218   NA     5.4   0.0000
130 103     2440200 2020 226   NA     6.3   0.2000
131 103     2440200 2020 232   NA     5.8   0.9000
132 103     2440200 2020 240   NA     3.4   3.1000
133 103     2440200 2020 248   NA     0.8   5.5000
134 103     2440200 2020 254   NA     0.0   6.6000
135 103     2440200 2020 262   NA      NA   6.6000
136 103     2440200 2020 267   NA      NA   6.1000
137 103     2440200 2020 276   NA      NA   4.1000
138 103     2440200 2020 283   NA      NA   2.9000
139 103     2440200 2020 289   NA      NA   2.4000
140 103     2440200 2020 300   NA      NA   0.9000
141 103     2440200 2020 307   NA      NA   0.0000

In [ ]:
berry_data %>% filter(Year == 2012) # keep only the rows where the value in 'Year' is exactly 2012

    Station Species Year doy Flowers Unripe Ripe
1   103     2440100 2012 135  0.0      NA     NA
2   103     2440100 2012 142  1.0     0.0     NA
3   103     2440100 2012 146 87.5     0.0     NA
4   103     2440100 2012 153 74.3    25.4     NA
5   103     2440100 2012 159 29.7    75.9     NA
6   103     2440100 2012 167  2.3    86.7     NA
7   103     2440100 2012 178  0.1    46.2    0.0
8   103     2440100 2012 190  0.0    50.1    0.0
9   103     2440100 2012 197  0.0    44.7    0.9
10  103     2440100 2012 205   NA    31.5    9.1
11  103     2440100 2012 212   NA     6.2   27.7
12  103     2440100 2012 219   NA     2.4   28.5
13  103     2440100 2012 226   NA     0.0   28.5
14  103     2440100 2012 233   NA     0.0   26.9
15  103     2440100 2012 242   NA      NA   21.1
16  103     2440100 2012 250   NA      NA   17.8
17  103     2440100 2012 280   NA      NA    0.0
18  102     2440100 2012 146  0.0      NA     NA
19  102     2440100 2012 152  0.2     0.0     NA
20  102     2440100 2012 159 31.6     0.0     NA
21  102     2440100 2012 164 85.8     0.8     NA
22  102     2440100 2012 171  1.0    90.4     NA
23  102     2440100 2012 180  0.0    86.2     NA
24  102     2440100 2012 193  0.0    64.8     NA
25  102     2440100 2012 199   NA    59.4    0.0
26  102     2440100 2012 206   NA    53.4    0.0
27  102     2440100 2012 213   NA    47.2    1.9
28  102     2440100 2012 220   NA    21.3   22.8
29  102     2440100 2012 226   NA     7.4   32.3
30  102     2440100 2012 233   NA     1.4   33.7
⋮   ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
101 102     2440200 2012 172  0.0      NA      NA
102 102     2440200 2012 181  0.0      NA      NA
103 102     2440200 2012 186  1.6     0.0      NA
104 102     2440200 2012 194  4.1     5.5      NA
105 102     2440200 2012 200  1.4     1.7      NA
106 102     2440200 2012 205  0.0     1.6      NA
107 102     2440200 2012 212   NA     1.4      NA
108 102     2440200 2012 221   NA     0.6      NA
109 102     2440200 2012 227   NA     0.5      NA
110 102     2440200 2012 233   NA     0.4   0e+00
111 102     2440200 2012 241   NA     0.2   1e-01
112 102     2440200 2012 247   NA     0.0   3e-01
113 102     2440200 2012 254   NA      NA   3e-01
114 102     2440200 2012 261   NA      NA   3e-01
115 102     2440200 2012 268   NA      NA   3e-01
116 102     2440200 2012 275   NA      NA   3e-01
117 102     2440200 2012 282   NA      NA   3e-01
118 102     2440200 2012 289   NA      NA   3e-01
119 102     2440200 2012 296   NA      NA   0e+00
120 105     2440200 2012 114  0.0      NA      NA
121 105     2440200 2012 118  0.0      NA      NA
122 105     2440200 2012 123  0.0      NA      NA
123 105     2440200 2012 128  0.0      NA      NA
124 105     2440200 2012 131  0.0      NA      NA
125 105     2440200 2012 136  0.0      NA      NA
126 105     2440200 2012 145  0.0      NA      NA
127 105     2440200 2012 151 10.2     0.0      NA
128 105     2440200 2012 165 92.2     4.0      NA
129 105     2440200 2012 184 18.9    62.2   0e+00
130 105     2440200 2012 191  0.0     0.0   1e-04

In [ ]:
berry_data %>% filter(Station %in% c(104, 105)) # keep only the rows where 'Station' is either 104 or 105

    Station Species Year doy Flowers Unripe Ripe
1   104     2440100 2006 125  0.0      NA    NA
2   104     2440100 2006 131  6.0      NA    NA
3   104     2440100 2006 139 14.3      NA    NA
4   104     2440100 2006 142 14.3     0.0    NA
5   104     2440100 2006 149  7.9     0.0    NA
6   104     2440100 2006 151  5.6     7.6    NA
7   104     2440100 2006 153  4.6    11.2    NA
8   104     2440100 2006 160  1.6    16.8    NA
9   104     2440100 2006 163  0.5    13.4    NA
10  104     2440100 2006 166  0.2    13.0    NA
11  104     2440100 2006 172  0.0     8.5    NA
12  104     2440100 2006 177  0.0     8.2    NA
13  104     2440100 2006 179   NA     9.0    NA
14  104     2440100 2006 181   NA     9.2    NA
15  104     2440100 2006 192   NA     8.8   0.0
16  104     2440100 2006 195   NA     6.7   0.0
17  104     2440100 2006 200   NA     0.0   4.8
18  104     2440100 2006 207   NA     0.0   0.0
19  104     2440100 2007 117  0.0      NA    NA
20  104     2440100 2007 122  2.6      NA    NA
21  104     2440100 2007 124  6.7      NA    NA
22  104     2440100 2007 128 13.9      NA    NA
23  104     2440100 2007 131 11.4      NA    NA
24  104     2440100 2007 135 12.9      NA    NA
25  104     2440100 2007 138  5.9     0.0    NA
26  104     2440100 2007 142  2.3     0.0    NA
27  104     2440100 2007 145  1.5     5.8    NA
28  104     2440100 2007 150  0.6    11.1    NA
29  104     2440100 2007 152  0.1    12.5    NA
30  104     2440100 2007 158  0.0    12.4   0.0
⋮   ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
828 105     2440200 2018 178    NA   86.8       NA
829 105     2440200 2018 186    NA   79.8   0.0000
830 105     2440200 2018 192    NA   49.8   0.5000
831 105     2440200 2018 200    NA   40.9   2.5000
832 105     2440200 2018 212    NA   14.9   9.8000
833 105     2440200 2018 236    NA    3.0   5.0000
834 105     2440200 2018 243    NA    0.0       NA
835 105     2440200 2018 283    NA     NA   0.0000
836 105     2440200 2019 141   0.0     NA       NA
837 105     2440200 2019 156 110.0     NA       NA
838 105     2440200 2019 171   1.4   62.0       NA
839 105     2440200 2019 191   0.0   53.5       NA
840 105     2440200 2019 200   0.0   42.1       NA
841 105     2440200 2019 212   0.0   29.6   0.5000
842 105     2440200 2019 226    NA    6.8   7.5000
843 105     2440200 2019 233    NA    0.0       NA
844 105     2440200 2019 263    NA     NA   0.0000
845 105     2440200 2020 120   0.0     NA       NA
846 105     2440200 2020 128   0.0     NA       NA
847 105     2440200 2020 132   0.0     NA       NA
848 105     2440200 2020 141   0.0     NA       NA
849 105     2440200 2020 154   0.0     NA       NA
850 105     2440200 2020 163  13.7     NA       NA
851 105     2440200 2020 170  34.3     NA       NA
852 105     2440200 2020 184  19.7   27.2   0.0000
853 105     2440200 2020 191   5.3   49.5   0.0000
854 105     2440200 2020 206   0.5   46.0   0.0000
855 105     2440200 2020 213   0.0     NA       NA
856 105     2440200 2020 243    NA    0.0       NA
857 105     2440200 2020 273    NA     NA   0.0001

In [ ]:
berry_data %>% filter(Station == 105 & Year == 2020) # keep only the rows where 'Station' is 105 AND 'Year' is 2020

   Station Species Year doy Flowers Unripe  Ripe
1  105     2440100 2020 120  0.0         NA     NA
2  105     2440100 2020 128 20.5     0.0000     NA
3  105     2440100 2020 132 40.5     3.0000     NA
4  105     2440100 2020 141 18.8    28.5714     NA
5  105     2440100 2020 147  5.1    26.8000     NA
6  105     2440100 2020 154  2.4    19.3000     NA
7  105     2440100 2020 163  0.6    17.0000     NA
8  105     2440100 2020 170  0.0    16.9000     NA
9  105     2440100 2020 184   NA     3.9000 0.0000
10 105     2440100 2020 191   NA     1.3000 1.2000
11 105     2440100 2020 206   NA     0.2000 0.7000
12 105     2440100 2020 213   NA     0.0000 0.0000
13 105     2440200 2020 120  0.0         NA     NA
14 105     2440200 2020 128  0.0         NA     NA
15 105     2440200 2020 132  0.0         NA     NA
16 105     2440200 2020 141  0.0         NA     NA
17 105     2440200 2020 154  0.0         NA     NA
18 105     2440200 2020 163 13.7         NA     NA
19 105     2440200 2020 170 34.3         NA     NA
20 105     2440200 2020 184 19.7    27.2000 0.0000
21 105     2440200 2020 191  5.3    49.5000 0.0000
22 105     2440200 2020 206  0.5    46.0000 0.0000
23 105     2440200 2020 213  0.0         NA     NA
24 105     2440200 2020 243   NA     0.0000     NA
25 105     2440200 2020 273   NA         NA 0.0001

#### `mutate()`
The `mutate()` function allows you to create new columns or modify existing ones, depending on whether the column to which a value is assigned already exists. As with the previous functions, column names can be used directly in expressions inside `mutate()`.

In [ ]:
berry_data %>%
  mutate(second_half = doy > 365/2) %>%   # create a new column 'second_half': TRUE if day-of-year > 182.5, FALSE otherwise
  select(doy, second_half)                # keep only 'doy' and the new 'second_half' column

     doy second_half
1    135 FALSE
2    142 FALSE
3    144 FALSE
4    149 FALSE
5    153 FALSE
6    156 FALSE
7    160 FALSE
8    163 FALSE
9    166 FALSE
10   170 FALSE
11   173 FALSE
12   177 FALSE
13   185  TRUE
14   187  TRUE
15   208  TRUE
16   219  TRUE
17   233  TRUE
18   280  TRUE
19   128 FALSE
20   131 FALSE
21   135 FALSE
22   138 FALSE
23   141 FALSE
24   145 FALSE
25   148 FALSE
26   152 FALSE
27   155 FALSE
28   159 FALSE
29   163 FALSE
30   166 FALSE
⋮    ⋮   ⋮
1860 227  TRUE
1861 235  TRUE
1862 242  TRUE
1863 247  TRUE
1864 262  TRUE
1865 284  TRUE
1866 296  TRUE
1867 303  TRUE
1868 155 FALSE
1869 164 FALSE
1870 170 FALSE
1871 178 FALSE
1872 183  TRUE
1873 189  TRUE
1874 197  TRUE
1875 206  TRUE
1876 212  TRUE
1877 218  TRUE
1878 226  TRUE
1879 232  TRUE
1880 240  TRUE
1881 248  TRUE
1882 254  TRUE
1883 262  TRUE
1884 267  TRUE
1885 276  TRUE
1886 283  TRUE
1887 289  TRUE
1888 300  TRUE
1889 307  TRUE

Now we generated a new column, but what if we want more descriptive values, like `'first_half'` or `'second_half'` instead of logical values?
That’s where the function `if_else()` is useful.

##### `if_else()`

- Works like a simple **if–then–else** statement.  
- You give it a logical test, a value if the test is `TRUE`, and a value if the test is `FALSE`.  
- It is **vectorized** → meaning it checks the condition for every row in the dataset.

In [ ]:
berry_data %>%
  mutate(half = if_else(doy < 365/2, "first_half", "second_half")) %>%
  select(doy, half)

     doy half
1    135 first_half
2    142 first_half
3    144 first_half
4    149 first_half
5    153 first_half
6    156 first_half
7    160 first_half
8    163 first_half
9    166 first_half
10   170 first_half
11   173 first_half
12   177 first_half
13   185 second_half
14   187 second_half
15   208 second_half
16   219 second_half
17   233 second_half
18   280 second_half
19   128 first_half
20   131 first_half
21   135 first_half
22   138 first_half
23   141 first_half
24   145 first_half
25   148 first_half
26   152 first_half
27   155 first_half
28   159 first_half
29   163 first_half
30   166 first_half
⋮    ⋮   ⋮
1860 227 second_half
1861 235 second_half
1862 242 second_half
1863 247 second_half
1864 262 second_half
1865 284 second_half
1866 296 second_half
1867 303 second_half
1868 155 first_half
1869 164 first_half
1870 170 first_half
1871 178 first_half
1872 183 second_half
1873 189 second_half
1874 197 second_half
1875 206 second_half
1876 212 second_half
1877 218 second_half
1878 226 second_half
1879 232 second_half
1880 240 second_half
1881 248 second_half
1882 254 second_half
1883 262 second_half
1884 267 second_half
1885 276 second_half
1886 283 second_half
1887 289 second_half
1888 300 second_half
1889 307 second_half

Now the new column clearly shows `'first_half'` or `'second_half'` instead of `TRUE`/`FALSE`.

But what if we need more than two categories, for example, dividing the year into quarters?
In that case, we use `case_when()`, which allows multiple conditions.

##### `case_when()`

- Useful when you have more than two conditions.
- Each condition is written on the left of `~` and its result on the right.
- The first condition that matches will be applied.

In [ ]:
berry_data %>%
  mutate(quarter = case_when(
    doy <= 91 ~ "Q1",           # days 1–91
    doy <= 182 ~ "Q2",          # days 92–182
    doy <= 273 ~ "Q3",          # days 183–273
    T ~ "Q4"                    # all remaining days
  )) %>%
  select(doy, quarter)

     doy quarter
1    135 Q2
2    142 Q2
3    144 Q2
4    149 Q2
5    153 Q2
6    156 Q2
7    160 Q2
8    163 Q2
9    166 Q2
10   170 Q2
11   173 Q2
12   177 Q2
13   185 Q3
14   187 Q3
15   208 Q3
16   219 Q3
17   233 Q3
18   280 Q4
19   128 Q2
20   131 Q2
21   135 Q2
22   138 Q2
23   141 Q2
24   145 Q2
25   148 Q2
26   152 Q2
27   155 Q2
28   159 Q2
29   163 Q2
30   166 Q2
⋮    ⋮   ⋮
1860 227 Q3
1861 235 Q3
1862 242 Q3
1863 247 Q3
1864 262 Q3
1865 284 Q4
1866 296 Q4
1867 303 Q4
1868 155 Q2
1869 164 Q2
1870 170 Q2
1871 178 Q2
1872 183 Q3
1873 189 Q3
1874 197 Q3
1875 206 Q3
1876 212 Q3
1877 218 Q3
1878 226 Q3
1879 232 Q3
1880 240 Q3
1881 248 Q3
1882 254 Q3
1883 262 Q3
1884 267 Q3
1885 276 Q4
1886 283 Q4
1887 289 Q4
1888 300 Q4
1889 307 Q4

#### `summarize()`
The `summarize()` command allows you to calculate summary statistics from a dataset. Unlike the `mutate()` command, it returns only the computed values and nothing else.

In [ ]:
berry_data %>% summarize( mean_flower_count = mean(Flowers)) # calculate mean of 'Flowers' column

  mean_flower_count
1 NA

In [ ]:
berry_data %>% summarize(mean_flower_count = mean(Flowers, na.rm = T)) # calculate mean of 'Flowers' while ignoring NA values

  mean_flower_count
1 10.95753

In [ ]:
berry_data %>% summarize(mean_flower_count = mean(Flowers, na.rm = T), N = n()) # the function n() inside summarize returns the number of rows in the input table.

  mean_flower_count N
1 10.95753          1889

#### `group_by()`
The `group_by()` function enables the so-called “split-apply-combine” strategy: a dataset is split into subsets based on the values of one or more variables, a function is applied to each subset, and the results are then combined. Once you apply `group_by()` to a dataset, any following operations will respect this grouping.

Used together, `group_by()` and `summarize()` let you calculate summary statistics for groups of observations defined by one or more variables. The result keeps the grouping variables and adds the summary statistics defined in the `summarize()` step. You can group by a single variable or by multiple variables at once.

In [ ]:
berry_data %>% group_by(Station) %>% summarize(mean_flower_count = mean(Flowers, na.rm = T))

  Station mean_flower_count
1 102     12.955981
2 103     14.519676
3 104      4.528571
4 105     11.472199

In [ ]:
berry_data %>% group_by(Station, Year) %>% summarize(mean_flower_count = mean(Flowers, na.rm = T))

`summarise()` has grouped output by 'Station'. You can override using the
`.groups` argument.

   Station Year mean_flower_count
1  102     2006 12.9800000
2  102     2007 18.1812500
3  102     2008  6.1529412
4  102     2009 10.2333333
5  102     2010 15.7666667
6  102     2011  9.2571429
7  102     2012  9.6692308
8  102     2013  7.5769231
9  102     2014 11.5733333
10 102     2015 17.1466667
11 102     2016 19.2470588
12 102     2017 20.0769231
13 102     2018 10.4153846
14 102     2019  9.3625000
15 102     2020 16.6166667
16 103     2006 28.4260870
17 103     2007 12.9724138
18 103     2008 20.6181818
19 103     2009 25.4882353
20 103     2010 12.8571429
21 103     2011 13.0846154
22 103     2012 16.0933333
23 103     2013 12.1181818
24 103     2014  8.6601852
25 103     2015  7.8416667
26 103     2016 13.9875000
27 103     2017  6.6466667
28 103     2018 12.2769231
29 103     2019  4.3857143
30 103     2020  7.1785714
31 104     2006  3.3238095
32 104     2007  2.7760000
33 104     2008 13.0562500
34 104     2009  9.7100000
35 104     2010  4.6333333
36 104     2011  2.7333333
37 104     2012  2.2176471
38 104     2013  0.8857143
39 104     2014  2.6625000
40 104     2015  5.8625000
41 104     2016  8.4555556
42 104     2017  1.2250000
43 104     2018  1.5576923
44 104     2019  3.4285714
45 104     2020 11.6888889
46 105     2006  9.2117647
47 105     2007  6.8888889
48 105     2008 16.1875000
49 105     2009 20.5656250
50 105     2010  9.2352941
51 105     2011  6.6307692
52 105     2012  9.2857143
53 105     2013  6.0500000
54 105     2014 13.1363636
55 105     2015  8.3850000
56 105     2016 20.6187500
57 105     2017  6.8701753
58 105     2018 21.5230769
59 105     2019 12.4333333
60 105     2020  8.4947368

The function `n()` inside `summarize()` returns the number of rows that correspond to a particular combination of grouping variables. This is very useful for creating frequency tables.

In [ ]:
berry_data %>% group_by(Station) %>% summarize(mean_flower_count = mean(Flowers, na.rm = T), N = n())

  Station mean_flower_count N
1 102     12.955981         581
2 103     14.519676         451
3 104      4.528571         494
4 105     11.472199         363

When you apply `mutate()` after `group_by()`, the `mutate()` function operates separately within each subset defined by `group_by()`. For example, this allows you to add the group mean to each row, or to assign a sequence number within each group.

In [ ]:
berry_data %>%
  select(Station, Flowers) %>%
  group_by(Station) %>%
  mutate(mean_flower_count_per_station =  mean(Flowers, na.rm = T))

     Station Flowers mean_flower_count_per_station
1    103       0.0   14.51968
2    103      50.3   14.51968
3    103      83.4   14.51968
4    103     111.7   14.51968
5    103     110.5   14.51968
6    103      81.5   14.51968
7    103      39.6   14.51968
8    103       8.8   14.51968
9    103       1.0   14.51968
10   103       0.4   14.51968
11   103       0.0   14.51968
12   103       0.0   14.51968
13   103        NA   14.51968
14   103        NA   14.51968
15   103        NA   14.51968
16   103        NA   14.51968
17   103        NA   14.51968
18   103        NA   14.51968
19   103       0.0   14.51968
20   103      22.3   14.51968
21   103      47.1   14.51968
22   103      57.8   14.51968
23   103      69.7   14.51968
24   103      50.4   14.51968
25   103      32.0   14.51968
26   103      11.0   14.51968
27   103       7.1   14.51968
28   103       1.0   14.51968
29   103       0.1   14.51968
30   103       0.0   14.51968
⋮    ⋮       ⋮       ⋮
1860 103       NA    14.51968
1861 103       NA    14.51968
1862 103       NA    14.51968
1863 103       NA    14.51968
1864 103       NA    14.51968
1865 103       NA    14.51968
1866 103       NA    14.51968
1867 103       NA    14.51968
1868 103      0.0    14.51968
1869 103     14.0    14.51968
1870 103     20.2    14.51968
1871 103      7.0    14.51968
1872 103      1.2    14.51968
1873 103      0.1    14.51968
1874 103      0.0    14.51968
1875 103       NA    14.51968
1876 103       NA    14.51968
1877 103       NA    14.51968
1878 103       NA    14.51968
1879 103       NA    14.51968
1880 103       NA    14.51968
1881 103       NA    14.51968
1882 103       NA    14.51968
1883 103       NA    14.51968
1884 103       NA    14.51968
1885 103       NA    14.51968
1886 103       NA    14.51968
1887 103       NA    14.51968
1888 103       NA    14.51968
1889 103       NA    14.51968

In [ ]:
berry_data %>%
  select(Station, Flowers) %>%
  group_by(Station) %>%
  mutate(ID_in_group = 1:n())

     Station Flowers ID_in_group
1    103       0.0    1
2    103      50.3    2
3    103      83.4    3
4    103     111.7    4
5    103     110.5    5
6    103      81.5    6
7    103      39.6    7
8    103       8.8    8
9    103       1.0    9
10   103       0.4   10
11   103       0.0   11
12   103       0.0   12
13   103        NA   13
14   103        NA   14
15   103        NA   15
16   103        NA   16
17   103        NA   17
18   103        NA   18
19   103       0.0   19
20   103      22.3   20
21   103      47.1   21
22   103      57.8   22
23   103      69.7   23
24   103      50.4   24
25   103      32.0   25
26   103      11.0   26
27   103       7.1   27
28   103       1.0   28
29   103       0.1   29
30   103       0.0   30
⋮    ⋮       ⋮       ⋮
1860 103       NA    422
1861 103       NA    423
1862 103       NA    424
1863 103       NA    425
1864 103       NA    426
1865 103       NA    427
1866 103       NA    428
1867 103       NA    429
1868 103      0.0    430
1869 103     14.0    431
1870 103     20.2    432
1871 103      7.0    433
1872 103      1.2    434
1873 103      0.1    435
1874 103      0.0    436
1875 103       NA    437
1876 103       NA    438
1877 103       NA    439
1878 103       NA    440
1879 103       NA    441
1880 103       NA    442
1881 103       NA    443
1882 103       NA    444
1883 103       NA    445
1884 103       NA    446
1885 103       NA    447
1886 103       NA    448
1887 103       NA    449
1888 103       NA    450
1889 103       NA    451

#### `arrange()`
The `arrange()` function simply sorts a data frame by the specified variable(s).

In [ ]:
berry_data %>% arrange(Flowers) # by default, from smallest to largest.

     Station Species Year doy Flowers Unripe Ripe
1    103     2440100 2006 135 0         NA        NA
2    103     2440100 2006 173 0       75.9        NA
3    103     2440100 2006 177 0       80.7        NA
4    103     2440100 2007 128 0         NA        NA
5    103     2440100 2007 166 0       50.3        NA
6    103     2440100 2007 180 0       32.9   0.00000
7    103     2440100 2007 187 0       31.7   8.80000
8    103     2440100 2008 123 0         NA        NA
9    103     2440100 2008 165 0       64.0        NA
10   103     2440100 2008 169 0       62.8        NA
11   103     2440100 2009 124 0         NA        NA
12   103     2440100 2009 160 0       79.3        NA
13   103     2440100 2009 168 0       60.8        NA
14   103     2440100 2010 134 0         NA        NA
15   103     2440100 2010 175 0       54.8        NA
16   103     2440100 2010 183 0       39.7   0.00000
17   103     2440100 2011 115 0         NA        NA
18   103     2440100 2011 160 0       50.1        NA
19   103     2440100 2011 168 0       43.1   0.00000
20   103     2440100 2012 135 0         NA        NA
21   103     2440100 2012 190 0       50.1   0.00000
22   103     2440100 2012 197 0       44.7   0.90000
23   103     2440100 2013 129 0         NA        NA
24   103     2440100 2013 168 0       73.8   0.00000
25   103     2440100 2013 182 0       49.4   0.00000
26   103     2440100 2014 132 0         NA        NA
27   103     2440100 2014 184 0       22.0   0.00000
28   103     2440100 2014 191 0       19.8   0.00000
29   103     2440100 2015 140 0         NA        NA
30   103     2440100 2015 202 0       48.0   1.77778
⋮    ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
1860 105     2440200 2019 226 NA      6.8    7.5000
1861 105     2440200 2019 233 NA      0.0        NA
1862 105     2440200 2019 263 NA       NA    0.0000
1863 105     2440200 2020 243 NA      0.0        NA
1864 105     2440200 2020 273 NA       NA    0.0001
1865 103     2440200 2019 210 NA      1.7        NA
1866 103     2440200 2019 220 NA      1.2        NA
1867 103     2440200 2019 227 NA      0.8    0.0000
1868 103     2440200 2019 235 NA      1.2    0.1000
1869 103     2440200 2019 242 NA      0.4    0.9000
1870 103     2440200 2019 247 NA      0.2    1.1000
1871 103     2440200 2019 262 NA      0.0    0.9000
1872 103     2440200 2019 284 NA       NA    0.8000
1873 103     2440200 2019 296 NA       NA    0.3000
1874 103     2440200 2019 303 NA       NA    0.0000
1875 103     2440200 2020 206 NA      5.5        NA
1876 103     2440200 2020 212 NA      4.9        NA
1877 103     2440200 2020 218 NA      5.4    0.0000
1878 103     2440200 2020 226 NA      6.3    0.2000
1879 103     2440200 2020 232 NA      5.8    0.9000
1880 103     2440200 2020 240 NA      3.4    3.1000
1881 103     2440200 2020 248 NA      0.8    5.5000
1882 103     2440200 2020 254 NA      0.0    6.6000
1883 103     2440200 2020 262 NA       NA    6.6000
1884 103     2440200 2020 267 NA       NA    6.1000
1885 103     2440200 2020 276 NA       NA    4.1000
1886 103     2440200 2020 283 NA       NA    2.9000
1887 103     2440200 2020 289 NA       NA    2.4000
1888 103     2440200 2020 300 NA       NA    0.9000
1889 103     2440200 2020 307 NA       NA    0.0000

In [ ]:
berry_data %>% arrange(desc(Flowers)) # change the order (largest to smallest)

     Station Species Year doy Flowers Unripe Ripe
1    105     2440200 2014 151 134.5    1.0   NA
2    105     2440200 2016 159 134.5   12.5   NA
3    102     2440100 2020 161 126.7    0.0   NA
4    105     2440200 2018 142 118.5    0.0   NA
5    102     2440100 2016 160 115.4    4.0   NA
6    103     2440100 2006 149 111.7     NA   NA
7    102     2440100 2016 151 111.2    0.0   NA
8    103     2440100 2006 153 110.5    0.0   NA
9    105     2440200 2019 156 110.0     NA   NA
10   103     2440100 2009 139 109.5    0.0   NA
11   103     2440100 2013 140 103.5    0.0   NA
12   105     2440200 2012 165  92.2    4.0   NA
13   105     2440200 2009 151  90.5     NA   NA
14   105     2440200 2009 159  90.5    0.0   NA
15   103     2440100 2009 142  88.1   24.1   NA
16   103     2440100 2012 146  87.5    0.0   NA
17   103     2440100 2008 144  87.2    0.0   NA
18   102     2440100 2012 164  85.8    0.8   NA
19   105     2440200 2018 151  85.3   66.0   NA
20   102     2440100 2010 144  84.6    0.0   NA
21   103     2440100 2009 135  83.8    0.0   NA
22   103     2440100 2006 144  83.4     NA   NA
23   103     2440100 2006 156  81.5    0.0   NA
24   102     2440100 2010 152  81.0    3.8   NA
25   102     2440200 2017 188  80.9     NA   NA
26   103     2440100 2008 148  80.2   10.4   NA
27   102     2440200 2017 195  79.2    0.0   NA
28   102     2440100 2017 170  77.6    0.0   NA
29   102     2440100 2015 167  75.4   17.6   NA
30   103     2440100 2012 153  74.3   25.4   NA
⋮    ⋮       ⋮       ⋮    ⋮   ⋮       ⋮      ⋮
1860 105     2440200 2019 226 NA      6.8    7.5000
1861 105     2440200 2019 233 NA      0.0        NA
1862 105     2440200 2019 263 NA       NA    0.0000
1863 105     2440200 2020 243 NA      0.0        NA
1864 105     2440200 2020 273 NA       NA    0.0001
1865 103     2440200 2019 210 NA      1.7        NA
1866 103     2440200 2019 220 NA      1.2        NA
1867 103     2440200 2019 227 NA      0.8    0.0000
1868 103     2440200 2019 235 NA      1.2    0.1000
1869 103     2440200 2019 242 NA      0.4    0.9000
1870 103     2440200 2019 247 NA      0.2    1.1000
1871 103     2440200 2019 262 NA      0.0    0.9000
1872 103     2440200 2019 284 NA       NA    0.8000
1873 103     2440200 2019 296 NA       NA    0.3000
1874 103     2440200 2019 303 NA       NA    0.0000
1875 103     2440200 2020 206 NA      5.5        NA
1876 103     2440200 2020 212 NA      4.9        NA
1877 103     2440200 2020 218 NA      5.4    0.0000
1878 103     2440200 2020 226 NA      6.3    0.2000
1879 103     2440200 2020 232 NA      5.8    0.9000
1880 103     2440200 2020 240 NA      3.4    3.1000
1881 103     2440200 2020 248 NA      0.8    5.5000
1882 103     2440200 2020 254 NA      0.0    6.6000
1883 103     2440200 2020 262 NA       NA    6.6000
1884 103     2440200 2020 267 NA       NA    6.1000
1885 103     2440200 2020 276 NA       NA    4.1000
1886 103     2440200 2020 283 NA       NA    2.9000
1887 103     2440200 2020 289 NA       NA    2.4000
1888 103     2440200 2020 300 NA       NA    0.9000
1889 103     2440200 2020 307 NA       NA    0.0000

### Joining Data Frames  

In many cases, information is spread across multiple data frames (or tables), and we need to **combine them based on shared keys** (e.g., IDs, station codes, years).  
This process is called a **join**.  

The `dplyr` package provides several join functions, all of which work in a similar way:  
- `inner_join(df1, df2, by = 'key')`: keeps only rows with matching keys in both tables  
- `left_join(df1, df2, by = 'key')`: keeps all rows from `df1` (the left table) and adds matching information from `df2`
- `right_join(df1, df2, by = 'key')`: keeps all rows from `df2` (the right table) and adds matching information from `df1`
- `full_join(df1, df2, by = 'key')`: keeps all rows from both tables, filling in `NA` where no match is found  
- `semi_join(df1, df2, by = 'key')`: keeps only rows from `df1` that have a match in `df2` (like a filter)  
- `anti_join(df1, df2, by = 'key')`: keeps only rows from `df1` that **do not** have a match in `df2`.


![Joins.png](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/joins.jpg)

### <font color='gold'>Task 7</font>  

You will work with the two data frames: `stations` and `berry_data`.  

1. **Combine the datasets**  
   Use `inner_join()` to combine them into a new data frame called `stations_berries`, based on the station ID.  
   > *Hint:* Check the column names in both data frames. How can you join data frames when the key variable has different names?
   >
   > Remember that you can change the data type of a variable using functions such as `as.numeric()`, `as.character()`, `as.factor()`, etc.  

2. **Identify missing measurements**  
   Use appropriate join commands to find out which stations do **not** have berry measurements.  
   *Reflect: does it make sense that some stations have no berry data? Why might that be the case?*

3. **Analyze berry observations**  
   Using `tidyverse` commands, answer the following:  
   - Which station had the **highest average count of ripe berries per 0.25 m²** in the year **2020**?  
   - For each station, what was the **earliest day of year (doy) per year** when the **average number of ripe berries per 0.25 m²** was greater than the **average number of unripe berries per 0.25 m²**?

In [ ]:
# YOUR CODE HERE!

## Iterations

A loop is a programming construct that repeats a certain action multiple times in sequence. It is useful, for example, when we want to go through the elements of a vector one by one and perform some action depending on the value of the element. In R you’ll mainly use two loop constructs: **`while`** and **`for`**.

### `while` loops

A `while` loop is repeated as long as a certain condition is satisfied. The so-called stopping condition must be defined when setting up the loop. It is important to be careful when writing the loop to ensure it does not repeat indefinitely. A while loop is useful when implementing an algorithm whose termination depends on convergence. To reduce the risk of infinite repetition, it is often sensible to include a loop counter as part of the stopping conditions in the loop header.
![while_loop.jpg](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/while_loop.jpg)

In [11]:
# Sum daily CO₂ measurements until a threshold is reached
co2_readings <- c(392, 401, 407, 415, 420, 425)
i <- 1
total <- 0

while (i < length(co2_readings) & total < 1200) {
    total <- total + co2_readings[i]
    i <- i + 1
}

total # cumulative sum
i  # how many readings used

[1] 1200

[1] 4

#### Infinite loops (and how they happen)
If the condition never becomes `FALSE`, the loop never ends.

In [13]:
# Example of a infinite loop/bug
#i = 0
#while (i < 5) {
    #print(i)
    #i <- i + 1  # forgotten increment → infinite loop
#}

### `for` loops

A `for` loop performs a predetermined number of steps. When defining the loop, you specify a vector whose elements will be traversed one by one. Most often, this vector consists of consecutive integers, such as the integers `1:10`.
![for_loop.jpg](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/for_loop.jpg)

In [20]:
# Days of year: first six days
for (doy in 1:6) {    # 1..6
  print(doy)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [14]:
# Print each station name
stations <- c("Umeå", "Vindeln", "Siljansfors", "Asa")
for (name in stations) {
  print(name)
}

[1] "Umeå"
[1] "Vindeln"
[1] "Siljansfors"
[1] "Asa"

In [21]:
# Simple growing degree-day (GDD) accumulator
base <- 10
daily_tmean <- c(8, 12, 15, 9, 14, 11)  # °C
gdd <- 0

for (t in daily_tmean) {
  gdd <- gdd + max(0, t - base)
}

gdd

[1] 12

### Nested Loops
Sometimes we need a loop inside another loop - this is called a nested loop.
Nested loops are useful when:
- You want to process **two dimensions of data** (e.g., rows × columns in a table or grid).
- You need to **compare every element of one collection with every element of another**.
- You are **working with spatial or temporal data where multiple variables interact**.

In [25]:
for (i in 1:4) {
  for (j in 1:3) {
    print(i+j)
  }
}

[1] 2
[1] 3
[1] 4
[1] 3
[1] 4
[1] 5
[1] 4
[1] 5
[1] 6
[1] 5
[1] 6
[1] 7

In [26]:
# Monitoring daily rainfall across multiple stations

stations <- c("Umeå", "Vindeln", "Siljansfors")
rainfall_data <- list(
  c(5.2, 0.0, 1.3),   # day 1
  c(0.0, 0.0, 0.0),   # day 2
  c(12.1, 3.4, 0.0)   # day 3
)

# Outer loop: iterate over days
for (day in seq_along(rainfall_data)) {
  daily_measurements <- rainfall_data[[day]]

  # Inner loop: pair station names with rainfall values
  for (i in seq_along(stations)) {
    cat("Day", day, "at", stations[i], ":", daily_measurements[i], "mm\n")
  }
}

Day 1 at Umeå : 5.2 mm
Day 1 at Vindeln : 0 mm
Day 1 at Siljansfors : 1.3 mm
Day 2 at Umeå : 0 mm
Day 2 at Vindeln : 0 mm
Day 2 at Siljansfors : 0 mm
Day 3 at Umeå : 12.1 mm
Day 3 at Vindeln : 3.4 mm
Day 3 at Siljansfors : 0 mm

> *Hints*:
> - `seq_along(rainfall_data)` → generates a sequence of indices `(1, 2, 3)` for the list of daily rainfall data.
> - `rainfall_data[[day]]` → extracts the day-th element from the list (double brackets `[[ ]]` are used to pull out the actual vector, not a sublist).
> - `seq_along(stations)` → iterates through indices of the stations.
> - `cat()` → concatenates and prints text in R.
>
> The outer loop goes over days, and the inner loop goes over stations within each day — exactly the same logic as in the Python version.

Controlling loop flow: `break` and `next`
- `break` → exit the loop immediately.
- `next`→ skip the rest of the current iteration and move to the next one.

In [22]:
# BREAK: stop scanning once PM2.5 exceeds a health threshold
pm25 <- c(8, 11, 4, 39, 51, 22, 10)
threshold <- 15
for (value in pm25) {
  if (value > threshold) {
    print(paste("Alert: unhealthy air quality!", value))
        break
  }
}

[1] "Alert: unhealthy air quality! 39"

In [24]:
# NEXT: skip missing temperature readings (NaN) when averaging
temps <- c(12.5, NaN, 13.2, 11.8, NaN, 12.9)
count <- 0
total <- 0.0

for (t in temps) {
  if (is.nan(t)) {
    next
  }
  total <- total + t
  count <- count + 1
}

if (count > 0) {
  avg <- total / count
} else {
  avg <- NA
}

avg

[1] 12.6

## Conditional Statements
When we learned about **controlling loops**, we already saw how the keyword `if` can decide whether a block of code should run.
Conditional statements are one of the most important building blocks of programming. They let us make decisions in code:
- Run certain parts of code only if conditions are `TRUE`.
- Skip or choose alternatives if they’re `FALSE`.

This enables us to write programs that adapt to different situations, much like we do in real-world decision-making.

### `if` Statement

The simplest form is the `if` statement.
It checks whether a condition is `TRUE` and, if so, executes the block of code inside it.
![if_condition.jpg](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/if_condition.jpg)

In [28]:
# Check if temperature is above freezing
temperature <- -3

if (temperature > 0) {
  print("Water is liquid.")
}

[1] "Water is liquid."

> Nothing is printed here, since the condition was `FALSE`.\
> If the temperature had been above 0, the program would have printed `"Water is liquid."`.

If the content of an `if` block is only one line long, the curly braces can be omitted.

In [34]:
temperature <- 10

# One-line if without braces
if (temperature > 0) print("Water is liquid.")

[1] "Water is liquid."

It is also possible to place multiple commands on a single line, separated by semicolons. However, from the perspective of code readability, this is generally not recommended.

In [36]:
# Multiple statements on one line with semicolons
temp_c <- -2; state <- "unknown"; if (temp_c <= 0) state <- "freezing"; cat("State:", state, "\n")

State: freezing

### `if`/`else`
We can add an `else` block to specify what should happen when the condition is `FALSE`.
![if_and_else_condition.jpg](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/if_and_else_condition.jpg)

In [31]:
# Are trees actively photosynthesizing?
sunlight <- F

if (sunlight) {
  print("Photosynthesis is happening.")
} else {
  print("Trees are not photosynthesizing right now.")
}

[1] "Trees are not photosynthesizing right now."

> Earlier, when wrangling data, we already used `if_else()` from `dplyr`.
> - `if_else()` is a vectorized version of `if-else`, meaning it checks the condition for each element in a column and returns a new column.
> - Base R also provides a similar function called `ifelse()`. It works the same way - element-wise checks over a vector - but has slightly different type-handling rules.
> - In contrast, the base R `if`/`else` statement works on a single logical condition at a time.
> So:
> - Use `if_else()` (`tidyverse`) or `ifelse()` (base R) inside `mutate()` or whenever you need vectorized column transformations.
> - Use plain `if`/`else` when you need control flow in scripts, not element-wise operations.

In [37]:
precip <- c(0, 0.3, 5.1, NA, 2.2, 0)
label <- ifelse(is.na(precip), "missing",
                ifelse(precip == 0, "dry", "wet"))
label

[1] "dry"     "wet"     "wet"     "missing" "wet"     "dry"

### `else if`

You can also check multiple conditions sequentially using `else if`.
![else_if_condition.jpg](https://raw.githubusercontent.com/RaHub4AI/MI7032/refs/heads/main/Pictures/else_if_condition.jpg)

In [32]:
aqi <- 135

if (aqi <= 50) {
  print("Air quality is good.")
} else if (aqi <= 100) {
  print("Air quality is moderate.")
} else if (aqi <= 150) {
  print("Air quality is unhealthy for sensitive groups.")
} else {
  print("Air quality is unhealthy for everyone.")
}

[1] "Air quality is unhealthy for sensitive groups."

> R evaluates the conditions in order and executes only the first one that is `TRUE`.

### Nested `if`Statements

Sometimes, one decision depends on another. In that case, you can nest `if` statements.

In [33]:
rainfall_mm <- 8

if (rainfall_mm > 0) {
  print("It rained today.")

  if (rainfall_mm >= 50) {
    print("Soil moisture is sufficient for crops.")
  } else {
    print("Rainfall was too low, irrigation might be needed.")
  }
} else {
  print("No rainfall today.")
}

[1] "It rained today."
[1] "Rainfall was too low, irrigation might be needed."

> Be careful: nesting too many `if` statements can make your code hard to read and maintain.\

In additon, sometimes the function `switch()` can also be very useful. For `switch()`, the first argument is usually a single integer (only one integer!), and the remaining arguments correspond to the actions for each integer value (in increasing order).

In [38]:
# Map season code → name
season_code <- 3L  # 1: Winter, 2: Spring, 3: Summer, 4: Autumn
season_name <- switch(season_code,
  "Winter",   # 1
  "Spring",   # 2
  "Summer",   # 3
  "Autumn"    # 4
)
season_name
# [1] "Summer"

[1] "Summer"

In [39]:
# Map quality-control level → action
qc_level <- 2L
action <- switch(qc_level,
  "use_as_is",         # 1 = high quality
  "use_with_caution",  # 2 = medium quality
  "exclude"            # 3 = low quality
)
action

[1] "use_with_caution"

### <font color='gold'>Task 8</font>

Using the dataset `berry_data.csv`, your goal is to calculate the maximum number of ripe berries per 0.25 m² for each station across all years.

Steps to guide you:
- Load the dataset into an object called `berry_data`.
- Identify the unique stations in the dataset.
- Use a loop to go through each station.
- Inside the loop, use an `if`–`else` statement to check whether the station has ripe berry data.
- If data exists, calculate the maximum number of ripe berries for that station.
- If no data exists, store a value like `NA`.
- Collect the results into a named vector or a data frame, where:
  - column names = station IDs
  - values = maximum ripe berry counts.

> *Hint*: use `unique()` to get the list of stations.

In [ ]:
# YOUR CODE HERE!